{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="more-words" id="more-words" style="display: none;">
	<div class="container">
		<div class="row m-5">
			<div class="col text-white text-center">
				<h1>Append more words</h1>
			</div>
		</div>
	</div>
</div>

{% if user_found %}

<section class="questionnare text-white" id="questionnare">
	<div class="container">
		<div class="row">
			<div class="box-item">
				<div class="flip-box" id="flipper">
					<div class="flip-box-front">
						<div class="flip-box-header">
							<h1 class="main-word" id="main-word"></h1>
						</div>
						<div class="flip-box-content">
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="translate-1"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="translate-2"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="translate-3"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="translate-4"></h5>
								</button>
							</div>
						</div>
					</div>

					<div class="flip-box-back">
						<div class="flip-box-header">
							<h1 class="main-word" id="back-main-word"></h1>
						</div>
						<div class="flip-box-content">
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="backTranslate-1"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="backTranslate-2"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="backTranslate-3"></h5>
								</button>
							</div>
							<div class="flip-button-box">
								<button class="flip-button btn btn-warning btn-lg text-center">
									<h5 id="backTranslate-4"></h5>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% csrf_token %}
<script type="text/javascript" src="{% static 'users/js/quiz.js' %}">
</script>

{% else %}

<div class="container">
	<div class="row m-5">
		<div class="col text-white text-center">
			<h1>User not found</h1>
		</div>
	</div>
</div>

{% endif %}


{% endblock %}