{% extends "main/base.html" %}
{% load static %}

{% block content %}

<section class="a1-level mt-2 mb-3">
	<div class="container padding-0">
		<div class="row align-items-center">
			<div class="col-3 col-ms-12 text-start">
				<img src="{% static 'main/images/1-picture.jpeg' %}" class="img-fluid">
			</div>
			<div class="col-9 col-ms-12 text-white a1-description">
				<h3 class="text-start">
					According to the official CEFR guidelines, someone at the <a href="/level/a1" class="text-link">A1-level</a> in English:<br>

    1 - Can understand and use familiar everyday expressions and very basic phrases aimed at the satisfaction of needs of a concrete type.
<br>
    3 - Can introduce herself and others and can ask and answer questions about personal details such as where she lives, people she knows, and things she has.
<br>
    3 - Can interact with other people in a simple way provided the other person talks slowly and clearly and is prepared to help.
				</h3>
			</div>
		</div>
	</div>
</section>

<section class="a2-level mb-3 mt-3">
	<div class="container padding-0">
		<div class="row align-items-center">
			<div class="col-6 col-ms-12 text-white a2-description">
				<h3 class="text-start">
					What can an <a href="/level/a2" class="text-link">A2-level</a> learner of English do?<br>

    1 - Can understand sentences and common expressions about familiar topics, including very basic personal and family information, shopping, places of interest and work.<br>
    2 - Can communicate in simple, everyday tasks that require only simple and direct exchanges of information on familiar topics.<br>
    3 - Can describe aspects of their past, environment and matters related to their immediate needs, using simple language.

				</h3>
			</div>
			<div class="col-6 col-ms-12 text-end">
				<img src="{% static 'main/images/2-picture.jpeg' %}" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<section class="b1-level mb-3 mt-3">
	<div class="container padding-0">
		<div class="row align-items-center">
			<div class="col-4 col-ms-12 text-start">
				<img src="{% static 'main/images/3-picture.jpeg' %}" class="img-fluid">
			</div>
			<div class="col-8 col-ms-12 text-white b1-description">
				<h3 class="text-start">
					The CEFRL specifies for <a href="/level/b1" class="text-link">B1-level</a>:<br>

    1 - Can cope with most of the situations that might arise on a trip to areas where the language is used.<br>
    2 - Is able to produce simple, coherent texts about topics with which they are familiar or in which they have a personal interest.<br>
    3 - Can describe experiences, events, wishes and aspirations, as well as briefly justifying opinions or explaining plans.
				</h3>
			</div>
		</div>
	</div>
</section>

<section class="b2-level mb-3 mt-3">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6 col-ms-12 text-white b2-description">
				<h3 class="text-start">
					<a href="/level/b2" class="text-link">B2-level</a> competencies:<br>

    1 - Can understand the main ideas of complex texts on concrete or abstract topics, including some technical discussions.
    2 - Can express themselves fluently and spontaneously enough to comfortably communicate with other English speakers.
    3 - Can produce clear, detailed text on many subjects and explain a complex viewpoint on a topic, including expressing advantages and disadvantages.

				</h3>
			</div>
			<div class="col-6 col-ms-12 text-start">
				<img src="{% static 'main/images/4-picture.jpeg' %}" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<section class="c1-level mb-2 mt-3">
	<div class="container padding-0">
		<div class="row align-items-center">
			<div class="col-6 col-ms-12 text-start">
				<img src="{% static 'main/images/5-picture.jpeg' %}" class="img-fluid">
			</div>
			<div class="col-6 col-ms-12 text-white c1-description">
				<h3 class="text-start">
					Skills at <a href="/level/c1" class="text-link">C1-level</a>:<br>

    1 - Can understand a wide range of more difficult, longer texts and recognise implicit meanings.<br>
    2 - Can express themselves fluently and spontaneously with little need to search for the right expression.<br>
    3 - Can use language flexibly and effectively for social, academic and professional purposes. They can produce clear, well-structured, detailed text on complex subjects.

				</h3>
			</div>
		</div>
	</div>
</section>

<!-- <section class="c2-level">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-7 col-ms-12 text-white c2-description">
				<h3 class="text-start">
					What can a <a href="/level/c2" class="text-link">C2-level</a> learner of English do?<br>

    1 - Can understand with ease practically everything he/she hears or reads.<br>
    2 - Can summarise information and arguments from different spoken and written sources, and present them coherently and concisely.<br>
    3 - Can express him/herself spontaneously, very fluently and precisely, differentiating finer shades of meaning even in more complex situations.

				</h3>
			</div>
			<div class="col-5 col-ms-12 text-start">
				<img src="{% static 'main/images/6-picture.jpeg' %}" class="img-fluid">
			</div>
		</div>
	</div>
</section> -->

{% endblock %}